





<div class="container">
    
    
     <%# if current_user.avatar.attached? %>


    <% if current_user %>
    
     
        <h1>Hello <%= current_user.email %></h1>
        <p>You are a <%= current_user.role %></p>
   
        <% if current_user.admin? %>
            There are <%= User.count %> users in the system.
<p>

           <%= link_to "Edit Account", edit_user_registration_path %>
           <br>
           <%= image_tag(current_user.avatar_thumbnail)   %>
</p>
            <p style="color: green"><%= notice %></p>

             <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete  %>

<h1>Candidates | <%= link_to "New Constituency", new_constituency_path %> | <%= link_to "Show Constituencies", constituencies_path %> </h1>
<br>
<hr>
<br>
All Constituencies <br>
<% Constituency.all.each do |con|  %>
<%= link_to con.name, candidates_path(constituency: con.name)%><br>
<% end %>
<br>




<br>
<hr>
<br>

<div id="candidates">
  <% @candidates.each do |candidate| %>
    <%= render candidate %>
    <p>
      <%= link_to "Show this candidate", candidate %>
    </p>
  <% end %>
</div>

<%= link_to "New candidate", new_candidate_path %>















            
        <% end %>
        <% if current_user.user? %>
        <p>
        You have successfully authenticated with your devise account.
        You are now ready to interact with this application.
        </p>
        
        <p>

        <%= link_to "Edit Account", edit_user_registration_path %>
        <br>
           <%= image_tag(current_user.avatar_thumbnail)   %>

        </p>

         <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete  %>
        <p style="color: green"><%= notice %></p>


<h1>Candidates </h1>

<br>
<hr>
<br>
All Constituencies <br>
<% Constituency.all.each do |con|  %>
<%= link_to con.name, candidates_path(constituency: con.name)%><br>
<% end %>
<br>




<br>
<hr>
<br>
<div id="candidates">
  <% @candidates.each do |candidate| %>
    <%= render candidate %><br><hr>
    <p>
      <%# <%= link_to "Show this candidate", candidate %>  
    </p>
  <% end %>
</div>

      <%# <%= link_to "Show this candidate", candidate %> 
    



<%# <%= link_to "New candidate", new_candidate_path %> 











        
      

        
        
        <% end %>
        <%# <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete  %> 
    <% else %>
        <h1><center>Welcome to Voting Machine</center></h1>
        <p><center>Click the button below to sign up</center></p>
        
        <div class="d-grid gap-2 col-6 mx-auto" background-color="red">
         <button class="btn btn-primary" type="button" style="background-color:white;"><%= link_to "Sign Up!", new_user_registration_path %></button>
        
        
        <br/>
       
        </div>
    <% end %>
    
  
</div>


